html { font-size:100%; }

@media (min-width: 640px) { body {font-size:1rem;} }
@media (min-width:960px) { body {font-size:1.2rem;} }
@media (min-width:1100px) { body {font-size:1.5rem;} }

body{
    background-color: darkgray;
}
.mainDiv{
    width: 90%;
    text-align: center;
    font-family: Arial, sans-serif;
}

.mainDiv h1{
    margin-bottom: 80px;
}
.mainDiv section{
    width: 40%;
    flex-direction: row;
    display: inline-block;
}

img{
    width: 300px;
    height: 300px;
    border-radius: 146px;
}

section:nth-of-type(1){
    border-right-color: black;
    border-right-style: solid;
}
section:nth-of-type(2){
    text-align: left;
    padding-left: 20px;
}

.Spacecon{
    width: 90%;
    height: 50px;
}

.hobbies {
    width: 90%;
    text-align: center;
    font-family: Arial, sans-serif;
}

div {
    width: 32%;
    float: left;
    padding-left: 10px;
    text-align: center;
}

.chess-image {
    border: 3px;
    border-color: coral;
    width: 30px;
    height: 30px;
}

.button01{
    padding: 10px;
    border-radius: 25px;
    background-color: #3C3F41;
    border: none;
    font-family: Arial, sans-serif;
    text-decoration: none;
    color: white;
}

#chess-image, #poker-image, #m-image {
    width: 150px;
    height: 150px;
}


/* Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}
}